body {
	background: url(https://images.pond5.com/loose-trip-01-1080-30p-footage-000544814_prevstill.jpeg);
}
.thumbnail{
	margin-top: 100px;
	text-align: center;
	background: url(http://m.rgbimg.com/cache1nhWQQ/users/x/xy/xymonau/600/2dyWVaY.jpg);
	background-size: 100%;
	height:500px;
	font-size: 15px;
}
img{
	height:50px;
	width:200px;
	margin-top: 75px;
}
.hide {
	display: hide;
}
h3{
	font-size: 20px;
	margin-left: 60px;
	margin-right: 60px; 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

#image{
	
	width:100px;
	height: 100px;
}

h3{

	margin-top: 100px;
}

}